
\.idea/

venv/

\.snakemake/

analysis_output/

logs/

src/__pycache__/

sample_data/

*.amb
*.ann
*.bwt
*.pac
*.sa
*.tbi
*.vcf.gz
eda/plot_pangenome_variants_vs_samples/\.ipynb_checkpoints/

eda/plot_pangenome_variants_vs_samples/id_and_number_of_samples\.csv

eda/plot_pangenome_variants_vs_samples/pangenome_variations_per_nb_of_samples.csv

eda/plot_pangenome_variants_vs_samples/pangenome_variations_per_nb_of_samples.png

output_pangenome_variations_small/

eda/plot_two_SNP_heatmap/.ipynb_checkpoints/
